.clothes-img img{
    width: 200px;
    border-radius: 12px;
   
}

.main-products{
 border: 1px solid black;
 padding: 1vw;
 margin: 1vh 4vh;
 border-radius: 15px;
 background-color:#F6F5F2;
 box-shadow: 5px 5px 5px #9B4444;
}

.main-products:hover{
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 5px 5px 5px #99BC85 ;
}


.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon .shopping{
   border: 1px solid white;
    background-color: whitesmoke;
    font-size: 24px;
    border-radius: 20px;
    border-width: 12px;
    cursor: pointer;
    

}

.item-list{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EEF7FF;
    border-radius: 20px;
    padding: 0 1vw;
}


@media(max-width:600px){

.main-products{
padding: 10px;
margin: 10px;
}

.clothes-img img{
    width: 150px;
    border-radius: 12px;
   
}







}