.icons img {
    width: 2vw;
    margin-right: 12px;
}

.footer-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 7vh 8vw;
    margin: 2vh 3vw;
    background-color: #FFF2D7;
    align-items: center;
}

.footer-4 img{
    width: 10vw;
}

.footer-icons{
    display: flex;
    gap: 12px;
}

.footer-main p{
color: #524C42;
}

.footer-main h3,h4{
    color: #00215E;
}

@media(max-width:600px){

    .footer1 img{
width: 60px;
    }

    .icons img {
        width: 16px;
    }

    .footer-main h3,h4{
        font-size: 13px;
    }

    .footer-main p{
        font-size: 10px;
        }

        .footer-icons{
            gap: 6px;
        }

        .footer-main{
            display: grid;
            align-items: center;
            padding: 5px;
            margin: 5px;
            justify-content: center;
        }

.footer-3{
    padding-top: 18px;
}

.footer-4{
padding-top: 14px;

}

.footer-2{
    padding-bottom: 6px;
}

}